{% extends 'basePanel.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Agregar Detalle al Producto</h2>

    <!-- Mostrar alerta si hay mensajes flash relacionados con el guardado -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        {% if category == 'error_guardar_producto' or category == 'success_guardar_producto' %}
        <div class="alert alert-{{ category == 'error_guardar_producto' and 'danger' or 'success' }} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form id="detalleForm" action="{{ url_for('producto.insertar_detalle_tipo_producto') }}" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="id_producto" class="form-label">ID del Producto</label>
            <input type="text" class="form-control" id="id_producto" name="id_producto" value="{{ producto[0] }}" readonly>
        </div>

        <div class="mb-3">
            <label for="nombre_producto" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="nombre_producto" value="{{ producto[1] }}" readonly>
        </div>

        <div class="mb-3">
            <label for="id_tipo_producto" class="form-label">Tipo de Producto</label>
            <select class="form-select" id="id_tipo_producto" name="id_tipo_producto" required>
                <option value="" selected>Seleccione un tipo de producto</option>
                {% for tipo in tipos %}
                <option value="{{ tipo[0] }}">{{ tipo[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock" placeholder="Ingrese el stock" required>
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio" required>
        </div>

        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="imagen" name="imagen" required>
        </div>

        <div class="d-flex justify-content-between">
            <a href="{{ url_for('producto.panel_nuestros_productos_home') }}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
