{% extends 'basePanel.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-5 text-3xl font-bold">Editar Tipo de Producto</h2>

  <!-- Mostrar alerta si hay mensajes flash relacionados con la actualización del género -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == 'error_actualizar_genero' or category == 'success_actualizar_genero' %}
            <div class="alert alert-{{ category == 'error_actualizar_genero' and 'danger' or 'success' }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="row">
    <!-- Formulario de edición -->
    <div class="col-md-12">
      <form id="genreForm" action="{{ url_for('tipo_producto.editar_tipo_producto', id=tipo[0]) }}" method="POST">
        <input type="hidden" name="id_tipo" value="{{ tipo[0] }}">

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="nombreTipo" class="form-label">Nombre del tipo de producto</label>
            <input type="text" class="form-control" id="nombreTipo" name="nombreTipo"
                   placeholder="Nombre del tipo de producto" value="{{ tipo[1] }}" required>
          </div>
          <div class="col-md-6">
            <label for="estado_tipo" class="form-label">Estado del tipo de producto</label>
            <select class="form-select" id="estado_tipo" name="estado_tipo" required>
              <option value="A" {% if tipo[2] == 'A' %}selected{% endif %}>Activo</option>
              <option value="I" {% if tipo[2] == 'I' %}selected{% endif %}>Inactivo</option>
            </select>
          </div>
        </div>

        <!-- Botones -->
       <div class="d-flex justify-content-between">
            <a href="{{ url_for('tipo_producto.panel_tipos_producto') }}" class="btn btn-secondary">Cancelar</a>
            <button type="button" id="confirmButton" class="px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
            Guardar
            </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para confirmar la acción de guardar -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #737577; color: white;">
                <h5 class="modal-title" id="confirmModalLabel">Confirmar Guardar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" style="font-size: 1.2rem;">
                <i class="bi bi-question-circle-fill" style="font-size: 2rem; color: #72767a;"></i>
                <p>¿Estás seguro de que deseas guardar los cambios en este tipo de producto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle-fill"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-success" id="confirmSaveButton">
                    <i class="bi bi-check-circle-fill"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Al hacer clic en el botón "Guardar Cambios", mostramos el modal de confirmación
    document.getElementById('confirmButton').addEventListener('click', function() {
        var modal = new bootstrap.Modal(document.getElementById('confirmModal'), {});
        modal.show();

        // Al hacer clic en "Guardar" dentro del modal, enviamos el formulario
        document.getElementById('confirmSaveButton').onclick = function() {
            document.getElementById('genreForm').submit();
        };
    });
</script>

{% endblock %}
