{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
    <section class="contact-hero position-relative">
        <img id="imgBanner" src="{{ url_for('static', filename='img/contactanos.png') }}" alt="Contact Us"
            class="img-fluid w-100">

    </section>

    <div class="container my-5">
        <div class="row g-4 justify-content-center mb-5">
            <div class="col-md-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <!-- Cambia el color del ícono aquí -->
                        <i class="fas fa-map-marker-alt fa-3x mb-3" style="color: #2a9d8f;"></i>
                        <h5 class="card-title" style="color: #2a9d8f">Visítanos</h5>
                        <p class="card-text">Av San Josemaría Escriva de Balaguer 855, Chiclayo 14012</p>
                        <a href="https://maps.app.goo.gl/FkSRiv33CCSMfrt4A" target="_blank"
                            class="btn btn-outline-primary"
                            style="color: #2a9d8f; border-color: #2a9d8f; text-decoration: none;"
                            onmouseover="this.style.color='#2a9d8f'; this.style.borderColor='#2a9d8f'"
                            onmouseout="this.style.color='#2a9d8f'; this.style.borderColor='#2a9d8f'">
                            Dirección
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <!-- Cambia el color del ícono aquí -->
                        <i class="fas fa-envelope fa-3x mb-3" style="color: #2a9d8f;"></i>
                        <h5 class="card-title" style="color: #2a9d8f">Envíenos un correo electrónico</h5>
                        <p class="card-text">Le responderemos en 24 horas.</p>
                        <a href="mailto:memoriescity@gmail.com" class="btn btn-outline-primary"
                            style="color: #2a9d8f; border-color: #2a9d8f; text-decoration: none;"
                            onmouseover="this.style.color='#2a9d8f'; this.style.borderColor='#2a9d8f'"
                            onmouseout="this.style.color='#2a9d8f'; this.style.borderColor='#2a9d8f'">Enviar correo</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <!-- Cambia el color del ícono aquí -->
                        <i class="fas fa-phone fa-3x mb-3" style="color: #2a9d8f"></i>
                        <h5 class="card-title" style="color: #2a9d8f">Llámenos</h5>
                        <p class="card-text">Lun-Vie, 9am-6pm</p>
                        <a href="tel:+932214539" class="btn btn-outline-primary"
                            style="color: #2a9d8f; border-color: #2a9d8f; text-decoration: none;"
                            onmouseover="this.style.color='#2a9d8f'; this.style.borderColor='#2a9d8f'"
                            onmouseout="this.style.color='#2a9d8f'; this.style.borderColor='#2a9d8f'">+51 954875379</a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4">
                <h2 class="mb-4">Envíanos un mensaje</h2>
                <form id="contactForm" onsubmit="return validarFormularioContacto();">
                    <div class="mb-3">
                        <label for="nombref" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombref" name="nombref" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidof" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellidof" name="apellidof" required>
                    </div>
                    <div class="mb-3">
                        <label for="emailf" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="emailf" name="emailf" required>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Enviar mensaje</button>
                </form>
                <p class="mt-3 text-muted">Responderemos a su mensaje dentro de 24 horas.</p>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Nuestra ubicación</h2>
                <div class="ratio ratio-16x9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15603.615728837646!2d-79.85433677472293!3d-6.771381997937075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904ceedb17485c17%3A0xe59adfc61b69cf2e!2sChiclayo!5e0!3m2!1ses!2spe!4v1697725254921!5m2!1ses!2spe"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/misProgramas.js') }}"></script>
<script src="{{ url_for('static', filename='js/enlaces-header.js') }}"></script>
{% endblock %}